 <md-toolbar color='primary'>
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons md-24 md-light">whatshot</i>
  </button>

  <span>p-branes - Instructor Led Certification Training</span>

  <span class="app-toolbar-filler"></span>


  <nav  class="docs-navbar">
    <a  aria-label="Home" md-button="" routerlink="/home" href="/" aria-disabled="false" tabindex="0" class="">
      <span class="md-button-wrapper">
       <i class="material-icons">home</i>

       <span >Home</span>
     </span>
   </a>
   <a  md-button="" routerlink="courses" href="/courses" aria-disabled="false" tabindex="0">
    <i class="material-icons">local_library</i>
    <span class="md-button-wrapper">Courses</span>
  </a>
  <a  md-button="" routerlink="guides" href="/certification" aria-disabled="false" tabindex="0">
    <i class="material-icons">school</i>
    <span class="md-button-wrapper">Certification</span>
  </a>
  <a  md-button="" routerlink="guides" href="/contact" aria-disabled="false" tabindex="0">
    <i class="material-icons">mail_outline</i>
    <span class="md-button-wrapper">Contact</span>
  </a>

</nav>


 

</md-toolbar>