<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
  <md-sidenav mode="side" class="app-sidenav" opened="true">

 
 <md-list>
   <md-list-item> Angular ggggggggggggggggggggggggggg</md-list-item>
   <md-list-item> React </md-list-item>
   <md-list-item> Liferay </md-list-item>
   <md-list-item> Alfresco </md-list-item>
 </md-list>


</md-sidenav>


 <div class="app-content">
<p>
  course-detail works!
</p><p>
  course-detail works!
</p><p>
  course-detail works!
</p><p>
  course-detail works!
</p><p>
  course-detail works!
</p>
</div>
 
</md-sidenav-layout>